*{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(248, 94, 94);
    text-align: center;
    padding: 15px;
}
main{
    display: grid;
    grid-template-columns: 1fr 3fr;
    overflow: auto;
}
.left-side-bar{
    height: 500px;
    background-color: gray;
    padding: 10px; 
     
}
.add{
    background-color: rgb(248, 94, 94);
    padding: 5px;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
}
.container{
    position: relative;
    text-align: center;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
}
label{
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
}
input{
    border: 1px solid rgb(243, 208, 208);
    padding: 5px;
    border-radius: 5px;
    

}
.priority-sel {
    padding: 5px;
    border: 1px solid rgb(243, 208, 208);
    border-radius: 5px;
}
#submit{
    padding: 10px;
    background-color: rgb(248, 94, 94);
    border-radius: 5px;
    border: none;
    font-size: 20px;
}
.category-div{
    margin-top: 40px;
    margin-bottom: 10px;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
}
.new-category-form{
    position: relative;
}
.category-div h2{
    margin-bottom: 5px;
}
.new-category-btn{
    background-color:  rgb(248, 94, 94);
    border-radius: 3px;
    border: none;
    padding: 5px;
}
.right-side-bar{
    margin-top: 20px;
    text-align: center;
}
.right-side-bar h2{
    font-size: 30px;
}
